{% extends 'main/base.html' %}

{% block content %}
<!-- ert -->
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

  </style>

    <!-- <nav>
        <h1>Customer Profile</h1>
        <ul>
            <li><a href="{% url 'users:profile' %}">Profile</a></li>
            <li><a href="{% url 'customer:customer_dashboard' %}">Back</a></li>
            <li><a href="{% url 'users:logout' %}">Logout</a></li>
        </ul>
    </nav> -->
    <div class="profile-container">
        <h2>Your Profile</h2>
        <p>Email: {{ customer.user.email }}</p>
        <p>Full Name: {{ customer.user.get_full_name }}</p>
        <p>Date of Birth: {{ customer.birth }}</p>
    </div>
    <div>
        <p><a href="{% url 'customer:customer_dashboard' %}">Back</a></p>
    </div>
{% endblock %}