{% extends 'main/base.html' %}

{% block content %}
<!-- ert -->
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .profile-container{
            text-align: center;
            border-radius: 10px;
            transition: transform 0.3s ease-in-out; 
        }

        .profile-container:hover{
            transform: translateY(-5px);        }

  </style>

    <!-- <nav>
        <h1>Customer Profile</h1>
        <ul>
            <li><a href="{% url 'users:profile' %}">Profile</a></li>
            <li><a href="{% url 'customer:customer_dashboard' %}">Back</a></li>
            <li><a href="{% url 'users:logout' %}">Logout</a></li>
        </ul>
    </nav> -->
    <div class="profile-container">
        <h2>Your Profile</h2>
        <p><strong>Email: </strong>{{ customer.user.email }}</p>

        <p><strong>Full Name: </strong> {{ user.username  }}</p>

        <p><strong>Date of Birth: </strong>{{ customer.birth }}</p>
    </div>
    <div>
        <p><a href="{% url 'customer:customer_dashboard' %}">Back</a></p>
    </div>
{% endblock %}