{% extends 'main/base.html' %}

{% block content %}
<!-- ert -->
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        nav {
            background-color: #35424a;
            color: white;
            padding: 15px;
        }

        nav h1 {
            margin: 0;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
        }

        nav ul li {
            margin-right: 20px;
        }

        /* nav ul li a {
            color: white;
            text-decoration: none;
            padding: 8px 12px;
            border-radius: 5px;
            transition: background-color 0.3s;
        } */

        nav ul li a:hover {
            background-color: #2c3e50;
        }

        .profile-container {
            background-color: white;
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 20px;
            padding-bottom: 20px;            margin: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        } 

        .profile-container h2 {
            color: #ec2f00;
        }

       .profile-container li {
            font-size: larger;
       } 

        .services-offered {
            background-color: white;
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 20px;
            padding-bottom: 20px;
            margin: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        } 
        .services-offered h2 {
            color: #ec2f00;
        }
        .services-offered li {
            font-size: larger;
        }
      

    </style>

    <!-- <nav>
        <h1>Customer Profile</h1>
        <ul>
            <li><a href="{% url 'users:profile' %}">Profile</a></li>
            <li><a href="{% url 'customer:customer_dashboard' %}">Back</a></li>
            <li><a href="{% url 'users:logout' %}">Logout</a></li>
        </ul>
    </nav> -->
    <div class="profile-container">
        <h2>Company Profile</h2>
        <li><strong>Name:</strong> {{ user.username }}</li>
        <li><strong>Email:</strong> {{ company.email }}</li>
        <li><strong>Location:</strong> {{company.location}}</li>
        <li><strong>Field of Work:</strong> {{ company.field_of_work }}</li>
        <li><strong>Description:</strong> {{ company.description }}</li>
    </div>

    <div class="services-offered">
        <h2>Services Offered</h2>
    
        {% for service in services %}
            <li>{{ service.name }}</li>
        {% endfor %}
    </div>
    <div>
        <p><a href="{% url 'customer:customer_dashboard' %}">Back</a></p>
    </div>
{% endblock %}