{% include 'main/navbar.html' %}
{% block title %}
    <!-- {{ service.name }} -->
{% endblock %}

{% block content %}
    <div class="service-info-container">
        <div class="service_info_header">
            <h1 class="service-title">{{ service.name }} -- {{ service.price_per_hour }}$/hour</h1>
            {% if user.is_authenticated and user.is_customer%}
            <h5 class="company-info">Provided by <strong><a href="/company/{{ service.company.user.username }}" class="company-link">{{ service.company.user.username }}</a></strong></h5>
            {% endif %}
        
        </div>
        <p><strong>service provider:</strong> {{ service.company.user.username }}</p>
        <h3 class="service-field"><strong>Service Field:</strong>{{ service.field }}</h3>
        <p class="service-description"><strong>Service Description:</strong>{{ service.description }}</p>
        <p class="service-price"><strong>Price: </strong>${{ service.price_per_hour }}/hour</p>
        <p><strong>Created on:</strong> {{ service.date }}</p>
        {% if user.is_authenticated %}
        {% if not user.is_company %}
        <a href="/services/{{ service.id }}/request_service/" class="request-button">Request Service</a>
        {% endif %}
        {% else %}
        <a href="{% url 'main:login' %}" class="request-button">Login to Request Service</a>
{% endif %}

    </div>
    <div>
        <p style="text-align: center;">
            {% if user.is_authenticated %}
                {% if user.is_company %}
                    <a href="{% url 'company:company_dashboard' %}">Go To Dashboard</a>
                {% else %}
                    <a href="{% url 'customer:customer_dashboard' %}">Go To Dashboard</a>
                {% endif %}
            {% else %}
                <a href="{% url 'main:home' %}">Go to Home</a>
            {% endif %}
        </p>
        
    </div>
{% endblock %}

{% block css %}
    <style>
        /* Global Styles */
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }

        .service-info-container {
            max-width: 900px;
            margin: 40px auto;
            padding: 30px;
            background-color: #fff;
            border-radius: 15px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        }

        .service_info_header {
            text-align: center;
            margin-bottom: 20px;
        }

        .service-title {
            font-size: 2.5em;
            color: #ec2f00;
            margin-bottom: 10px;
        }
    </style>
{% endblock %}